@import "../variables";
@import "../mixins";
.close_modal-btn {
  @include button(41px, 10px, 10px, $extra-dark-gray-color);
  @include font('Poppins', 18px, none, 500, $text-color, center);
  line-height: 18px;
  &:hover {
    color: $main-color;
    cursor: pointer;
    outline: 0;
    transition: color 0.4s ease;
  }
  &:focus {
    border-color: $extra-dark-gray-color;
    outline: 0;
  }
}
.login-modal-btn {
  @include button(115px, 11px, 11px, $extra-dark-gray-color);
  @include font('Poppins', 13px, uppercase, 500, $text-color, center);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.4);

}

.buy-modal-btn {
  @include button(100%, 8px, 8px, $extra-dark-gray-color);
  @include font('Poppins', 13px, uppercase, 500, $text-color, center);
  &--orange-bg {
    background-color: $main-color;
    &:hover {
      border-color: $main-color;
      box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
      outline: 0;
      transition: 0.2s ease;
    }
    &:focus {
      border-color: $main-color;
      outline: 0;
    }
  }
  &--grey-bg {
    background: $grey-btn-background;
    &:hover {
      border-color: $grey-btn-background;
      box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
      outline: 0;
      transition: 0.2s ease;
    }
    &:focus {
      border-color: $grey-btn-background;
      outline: 0;
    }
  }
}


//.burger-btn {
//  width: 29px;
//  height: 13px;
//  background-color: transparent;
//  background-image: url("../img/menu-button.svg") ;
//  background-size: contain;
//  border: 0;
//}

.modal-chart-increase-btn {
  width: 40px;
  display: inline-block;
  box-sizing: border-box;
  @include font('Poppins', 20px, uppercase, 500, $extra-dark-gray-color, center);
  border: 1px solid $extra-dark-gray-color;
  background-color: $text-color;
  &:hover {
    color: $main-color;
    border-color: $main-color;
    outline: 0;
  }
  &:focus {
    color: $main-color;
    border-color: $main-color;
    outline: 0;
  }
}

.top-dropdown {
  background-color: $header-bg;
  color: $top-dropdown-text;
}

.slider-buy-btn {
  @include font('Poppins', 14px, uppercase, 500, $extra-dark-gray-color, center);
}

.slider-control {
  width: 50%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $header-bg;
  color: $text-color;
  text-align: center;
  transition: background-color 0.6s ease;
  &:hover {
    background-color: $main-color;
  }
  &--prev {

}
  &--next {

  }
}

.tab-slider-control {
  width: 33px;
   @include flex();
  background-color: $header-bg;
  color: $text-color;
  transition: background-color 0.6s ease;
  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}
