@import "../variables";
@import "../mixins";

.furniture-gallery-link {
  @include font('Poppins', 14px, uppercase, 600, $extra-dark-gray-color, center);
  transition: 0.6s ease;
}

.furniture-gallery .nav-link {
  border: 1px solid $border-color;

    &:hover {
      color: $main-color;
      border-top: 3px solid $main-color;
      text-decoration: none;
    }
    &.active {
      color: $main-color;
      border-top: 3px solid $main-color;
      border-bottom: transparent;
      //font-size: 14px;
    }
}

.furniture-gallery-banner {
  background: $banner-background;
}

.carousel-big,
.furniture-gallery .nav-item .active {
  background-color: $gallery-background;
}

.product-info {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: transparent $border-color $border-color;

}

.product-info {
  padding-top: 140px;
  padding-bottom: 30px;

}

.thumbcarousel img {
  width: auto;
  height: 70px;
  object-fit: cover;
}
.thumbcarousel {
  padding: 9px 3px;
  //height: 88px;
  border: 1px solid $border-color;
  //background-color: $text-color;
}
.thumbcarousel-wrapper {
  @include flex();

}
.thumbcarousel-item {
  @include flex();
  margin: 0 3px;
  flex-basis: 20%;
  overflow: hidden;
  background-color: $border-color;
}

.ico-tmp {
  width: 37px;
  height: 37px;
  border: 1px solid $border-color;
  transition: 0.6s ease;
  &:hover {
    color: $main-color;
    border-color: $main-color;
  }
}

.gallery-product-card {
  position: relative;
  padding: 29px 0;
  //padding-bottom: 30px;
  margin: 0 auto;
  left: 15px;
  width: 250px;
  background-color: $text-color;
  &-title {
    @include font('Poppins', 16px, none, 500, $extra-dark-gray-color, center);
  };
}

.star .checked {
  color: $extra-dark-gray-color;
}

.gallery-product-price {
  position: absolute;
  left: -70px;
  top: 0;
  width: 105px;
  height: 105px;
  @include flex();
  border-radius: 50%;
  background-color: $modal-text-color;
  flex-direction: column;
  @include font('Poppins', 18px, uppercase, 500, $text-color, center);
    &--new {
      width: 100%;
      display: inline-block;
    }
    &--old {
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
    }
}
