@import "../variables";
@import "../mixins";
.header {
  background-color: $navbar-bg;
}
.chart-modal {
  max-width: 420px;
}

.mobile-ico {
  display: none;
  font-size: 30px;
  color: $main-color;
  margin-right: 15px;
}

.telephone-number {
  @include font('Poppins', 16px, none, 400, $text-color, left);
  &:hover {
    color: $text-color;
  }

}

.shopping-cart {
  position: relative;
  width: 43px;
  padding: 10px 0;
  @include flex();
  border-radius: 2px;
  background-color: $main-color;
  color: $text-color;
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.product-img {
  width: 100%;
  height: auto;
}

.cart-number {
  width: 25px;
  position: absolute;
  bottom: 10px;
  left: 75%;
  @include flex();
  border-radius: 50%;
  color: $text-color;
}

.product-title {
  @include font('Poppins', 22px, capitalize, 600, $extra-dark-gray-color, left);
  line-height: 1.5;
}

.product-old-price {
  @include font('Poppins', 21px, capitalize, 300, $extra-dark-gray-color, left);

}

.product-price {
  width: 120px;
  padding: 0 10px;
  border: 0;
  &--white-bg {
    margin: 0 auto;
    @include font('Poppins', 26px, capitalize, 500, $extra-dark-gray-color, center);
    background-color: $text-color;
  }
  &--black-bg {
    @include font('Poppins', 26px, capitalize, 500, $text-color, center);
    background-color: $extra-dark-gray-color;
  }
  &--light {
    @include font('Poppins', 26px, capitalize, 400, $extra-dark-gray-color, center);
    background-color: $text-color;
  }
}

.product-quantity-title {
  border-color: $extra-dark-gray-color;
  @include font('Poppins', 12px, capitalize, 600, $extra-dark-gray-color, left);
}

.product-quantity-field {
  width: 73px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 4px;
  @include font('Poppins', 16px, capitalize, 600, $extra-dark-gray-color, center);
}


.sum-price-subtitle {
  @include font('Poppins', 18px, capitalize, 300, $gray-color, center);
}

.total-price {
  @include font('Poppins', 22px, capitalize, 400, $extra-dark-gray-color, left);

}
.continue-icon {
  position: relative;
  left: -20px;
}
.logo-main {
  width: 114px;
  height: 53px;
  display: inline-block;
}

.st0 {
  fill:#F0F0F0;
}

.st1 {
  fill:#D58E35;
}

.st2 {
  fill:#FFFFFF;
}

.icon-basket:before {
  content: "\e900";
}

