@import "../variables";
@import "../mixins";

.navbar-section {
  background-color: $navbar-bg;

}
.nav-link {
  &:hover {
  text-decoration: underline;
  }
}

.login-modal {
  max-width: 420px;
}

.modal-title {
  @include font('Poppins', 30px, uppercase, 600, $extra-dark-gray-color, left)
}

.form-block {

}
.form-field {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 17px;
  @include font('Poppins', 14px, capitalize, 400, $modal-text-color, left);
  border-radius: 0;
  height: auto;
}


