@import "../variables";
@import "../mixins";

.feature-item {
  display: inline-block;
  width: 263px;
  height: 100%;
  &:hover {
    text-decoration: none;
  }

  &:hover .feature-item_icon {
    color: $text-color;
    background-color: $main-color;
    border-color: $main-color;

  }


  &_description {
    position: relative;
    box-sizing: border-box;
    padding: 55px 10px 10px;
    border: 1px solid $modal-text-color;
    text-align: center;
    color: $extra-dark-gray-color;
  }

  &-title {
    @include font('Poppins', 20px, uppercase, 600, $extra-dark-gray-color, center);
    line-height: 1.5;

    .feature-item:hover & {
      color: $main-color;
    }
  }

  &-subtitle {
    width: 100%;
    display: inline-block;
    font-weight: 300;
    text-align: center;
  }

&__circle {
  position: absolute;
  width: 76px;
  height: 76px;
  @include flex();
  right: 33%;
  top: -28%;
  border-radius: 50%;
  border: 1px solid $modal-text-color;
  background-color: $text-color;
  transition: border 0.6s linear;

  .feature-item:hover & {
    border-color: $main-color;
  }
}

  &_icon {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    font-size: 22px;
    border: 1px solid $modal-text-color;
    background-color: $text-color;
    transition: color, background-color, border, 0.4s linear;
  }
}

