.products-page {
  .section-title {
    @include font('Poppins', 22px, none, 600, #000, left);
  }
  #productsLoadMore {
    display: flex;
    text-decoration: none;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  }

  & .card {
    height: 410px;
    margin-bottom: 34px;
    display:none;

    & .card-img {
      height: 260px;
    }

    & img {
      max-height: 100%;
      object-fit: contain;
    }
  }
}