@import "../variables";
@import "../mixins";
.top-menu {
  position: relative;
}

.icon-bar {
  width: 29px;
  height: 3px;
  background-color: $dark-gray-color;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.burger-btn.collapsed {
  border: none;
  background: transparent;
}

.burger-btn {
  //@include flex(flex, end, center);
  width: 154px;
  height: 100%;
  background-color: $header-bg;
  border: none;
  text-align: right;
}

.burger-btn .top-bar {
  transform: rotate(45deg);
  transform-origin: 17% 10%;
  background-color: $text-color;
}

.burger-btn .middle-bar {
  opacity: 0;
  background-color: $text-color;
}

.burger-btn .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  background-color: $text-color;
}

.burger-btn.collapsed .top-bar {
  transform: rotate(0);
  background-color: $dark-gray-color;
}

.burger-btn.collapsed .middle-bar {
  opacity: 1;
  background-color: $dark-gray-color;
}

.burger-btn.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: $dark-gray-color;
}

.top-dropdown-menu {
  position: absolute;
  top: 70px;
  right: 0;
  padding-right: 12px;
  background-color: $header-bg;
  color: $top-dropdown-text;
  text-align: right;
  //transition: top 0.6s ease;
}
.collapse.show {
  z-index: 1000;
}
//.top-dropdown-menu .collapsed {
//  transform: translateX(-100%);
//}
.top-dropdown-item {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  color: $top-dropdown-text;
  text-transform: uppercase;
    &:hover {
      color: $text-color;
      text-decoration: none;
      transition: 4ms ease-in;

  }
}

