@import "../variables";
@import "../mixins";
.top-slider-section {
  box-shadow: inset 3px 3px 10px rgba(0,0,0,0.4);
}
.carousel-img {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-block {
  display: block;
  background-size: cover;
  //width: 100%;
  //height: 300px;
  padding: 35px 15px;
  box-shadow: inset 3px 3px 10px rgba(0,0,0,0.4);

  &--sofa {
  background: url("../img/top-slider/1.jpg") no-repeat center;
}
  &--dining {
  background: url("../img/top-slider/2.jpg") no-repeat center;

  }
  &_inner {
    background-color: rgba(0,0,0,0.4);
    //width: 100%;
    //height: 100%;
    padding-top: 80px;
    padding-bottom: 120px;
    line-height: 1;
  }
}

.slider-title {
  @include font('Poppins', 46px, uppercase, 500, $text-color, center);
  &__accent {
    font-weight: 700;
  }
}

.slider-description {
  @include font('Poppins', 24px, uppercase, 300, $text-color, center);

}
