@media screen and (min-width: 320px) and (max-width: $mobile-size - 1px) {
  .navbar {
    font-size: 12px;
    button {
    font-size: 12px;
    }
  }

  .header {
    font-size: 12px;
  }

  .telephone-number {
    font-size: 12px;
  }

  .logo-main {
    width: 30%;
    height: 30%;
  }

  .shopping-cart {
    width: 30px;
    padding: 6px 0;
  }

  .cart-number {
    width: 20px;
    bottom: 5px;
  }
}

@media screen and (min-width: $tablet-size) and (max-width: $desktop-size - 1px){
  .shopping-cart {
    width: 51px;
    padding: 10px 0;
  }
  .mobile-ico {
    display: block;
  }

  .logo-main {
    width: 165px;
    height: 77px;
  }

  .chart-modal {
    max-width: 750px;
  }

  .product-img {
    width: 180px;
  }

  .carousel-block {
    padding-left: 0px;
    padding-right: 0px;
  }

  .stocks {
    .stocks-banner {
      height: 195px;
      &.wide-banner-01 {

        .stocks-title {
          @include font('Poppins', 30px, none, 600, #000, left);
        }
        .stocks-subtitle {
          @include font('Poppins', 18px, none, 600, #000, left);
          letter-spacing: 3px;
        }

        .md-font-weight-light {
          font-weight: 300;
        }

        .stocks-price {
          @include font('Poppins', 36px, none, 600, $main-color, left);
        }
      }

      &.wide-banner-02 {
        background-color: $stock-banner-2-bg;
        text-align: center;
        .stocks-title {
          @include font('Poppins', 24px, none, 600, $main-color, left);
        }

        .stocks-subtitle {
          @include font('Poppins', 18px, none, 300, #000, left);
        }

      }
    }
  }
}

@media screen and (min-width: $desktop-size) {
  .login-modal {
    max-width: 456px;
  }

  .shopping-cart {
    width: 51px;
    padding: 10px 0;
  }
  .mobile-ico {
    display: block;
  }

  .chart-modal {
    max-width: 1140px;
  }

  .logo-main {
    width: 165px;
    height: 77px;
  }

  .carousel-block {
    padding-left: 0px;
    padding-right: 0px;
  }
  .stocks {
    .stocks-banner {
      height: 195px;
    }
  }
}