@mixin font($ff, $fz, $tt, $wb, $color, $ta) {
  font-family: $ff;
  font-size: $fz;
  text-transform: $tt;
  font-weight: $wb;
  color: $color;
  text-align: $ta;
}

@mixin flex($display: flex, $justify-content: center, $align-items: center) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin button ($width, $pt, $pb, $bck-color, $box-sizing: border-box, $border: 0, $border-radius: 0, $vert-align: middle) {
  width: $width;
  padding-top: $pt;
  padding-bottom: $pb;
  background-color: $bck-color;
  box-sizing: $box-sizing;
  border: $border;
  border-radius: $border-radius;
  vertical-align: $vert-align;
}